{% extends "base.html" %}
{% block title %}KeeKran{% endblock %}
{% block content %}
<style>
        
    h2 {
        padding-top: 50px;
        text-align: center;
        font-family: Arial, sans-serif; 
    }
    h3 {
        padding-top: 20px;
        margin-left: 50px; 
        font-family: Arial, sans-serif; 
    }
    h4 {
        padding-top: 20px;
        margin-left: 50px; 
        font-family: Arial, sans-serif; 
    }
    ul {
        padding-top: 20px;
        margin-left: 50px; 
    }
</style>
<body style="background-color: lightgray;">
    <h2 style="font-weight: bold;">เกี่ยวกับบริการรับจ้างไม่สารพัด</h2>
    <h3 >ร้านของเราจัดทำขึ้นสำหรับผู้ที่ต้องการให้ชีวิตสะดวกสบายขึ้นเพียงเล็กน้อยก็ยังดี เพราะร้านของเรานั้นรับจ้างไม่สารพัดยังไงล่ะ</h3>
    <h4>บริการของเรามีดังนี้</h4>
    <ul>
    {% for item in my_services %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
</body>
{% endblock %}

