{% extends "base.html" %}
{% block title %}KeeKran{% endblock %}
{% block content %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; 
        background-color: aquamarine; 
    }

    .form-container {
        background-color: white; 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
        width: 80%; 
        max-width: 500px; 
    }

    h3 {
        text-align: center; 
    }
</style>
<body style="background-color: aquamarine;">
<div class="container">
    <div class="form-container">
        <h3>รับจ้างฟาร์มเลเวลในเกม</h3>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.address.label }}
                {{ form.address(class="form-control") }}
                {% for error in form.address.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.accept_service.label }}
                {{ form.accept_service(class="form-control") }}
                {% for error in form.accept_service.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <br>
        {% if message %}
            <h3>ข้อมูลที่คุณกรอก:</h3>
            <p>{{ message }}</p>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}
